@import '../../styles/variables.scss';

.user-info {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 4px 4px 0 0;
  background-color: $white;

  &__wrapper {
    width: 510px;
  }

  &__panel {
    padding-bottom: 15px;
    border-bottom: 1px solid $grey-lighten-3;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    font-weight: 400;
  }

  &__name {
    font-size: 19px;
    line-height: 25px;
  }

  &__online {
    font-size: 12px;
    color: $grey;
  }

  &__me-status {
    width: 100%;
    line-height: 16px;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 6px;

    &:hover {
      cursor: pointer;
      background-color: $cyan-lighten-4;
    }

    &_empty {
      color: $grey;
    }
  }

  &__status {
    width: 100%;
    line-height: 16px;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 6px;
  }

  &__short-info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &__show-more {
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    padding: 5px 0;
    font-size: 13px;
    color: $blue;
    font-weight: 400;

    &:hover {
      cursor: pointer;
      background-color: $cyan-lighten-4;
    }
  }
}
