@import '../../styles/variables.scss';

.messages-side-bar {
  width: 230px;
  background-color: $white;
  height: 76px;
  padding: 6px 0;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $cyan-lighten-4, 0 0 0 1px $cyan-lighten-4;
}
