@import '../../../styles/variables.scss';

.messages-side-bar-item {
  width: 100%;
  padding-left: 18px;
  font-size: 13.5px;
  font-weight: 400;
  color: $cyan-accent-3;
  height: 32px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: $cyan-lighten-5;
  }

  &_active {
    background-color: $cyan-lighten-5;
    border-left: 2px solid $cyan-accent-3;
    padding-left: 16px;
    color: $black;
    font-weight: 500;
  }
}
