$white: #fff;
$black: #000;
$cyan-lighten-1: #26c6da;
$cyan-accent-3: #00e5ff;
$cyan-lighten-5: #e0f7fa;
$cyan-lighten-4: #b2ebf2;
$cyan-darken-3: #00838f;
$grey: #9e9e9e;
$grey-lighten-3: #eeeeee;
$blue: #2a5885;
