@import '../../styles/variables.scss';

.chats {
  width: 550px;
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 1px 0 0 $cyan-lighten-4, 0 0 0 1px $cyan-lighten-4;
  height: 90vh;
}
