@import '../../styles/variables.scss';

.friend-list {
  width: 550px;
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 1px 0 0 $cyan-lighten-4, 0 0 0 1px $cyan-lighten-4;
  max-height: 90vh;

  &__top {
    height: 55px;
    background-color: $blue-lighten-5;
    display: flex;
    padding-left: 16px;
  }

  &__container {
    padding: 0 20px;
  }
}
