@import '../../styles/variables.scss';

.detailed-info {
  background-color: $white;
  padding: 24px 20px 0;
}

.no-information {
  padding-top: 5px;
  margin-left: 165px;
  color: $grey;
  font-size: 13px;
  font-weight: 400;
}
