@import '../../../styles/variables.scss';

.detailed-info-block {
  border-top: 1px solid $grey-lighten-3;
  padding-bottom: 29px;

  &__top {
    margin-top: -11px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: normal;
  }

  &__title {
    color: $black;
    background-color: $white;
    padding-right: 5px;
  }

  &__edit {
    color: $grey;
    display: none;
    background-color: $white;
    padding-left: 5px;

    &_show {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
}
