@import '../../../styles/variables.scss';

.right-side-bar-item {
  width: 100%;
  padding-left: 18px;
  font-size: 13.5px;
  font-weight: 400;
  color: $cyan-accent-3;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: $cyan-lighten-5;
  }

  &_active {
    background-color: $cyan-lighten-5;
    border-left: 2px solid $cyan-accent-3;
    padding-left: 16px;
    color: $black;
    font-weight: 500;
  }

  &__count {
    padding: 1px 7px;
    margin-right: 10px;
    color: $white;
    background-color: $cyan-accent-3;
    font-weight: 600;
    font-size: 12px;
  }
}
