.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  height: calc(100% - 43.6px);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
