@import '../../../styles/variables.scss';

.count-item {
  padding: 15px;
  font-weight: 400;

  &:hover {
    cursor: pointer;

    .count-item__label {
      color: $blue;
    }
  }

  &__count {
    font-size: 19px;
    color: $blue;
    line-height: 21px;
  }

  &__label {
    line-height: 15px;
    font-size: 13px;
    color: $grey;
  }
}
