@import '../../../styles/variables.scss';

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding-top: 6px;

  &__photo {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    padding: 0 10px;
    margin-bottom: 7px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__name {
    font-size: 13px;
    color: $blue;
    font-weight: 400;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
