@import '../../../styles/variables.scss';

.side-bar-item {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 5px 0 5px 7px;

  &:hover {
    cursor: pointer;
    background-color: $cyan-lighten-4;
  }

  &__icon {
    font-size: 20px;
    color: $cyan-darken-3;
    margin-right: 10px;
  }

  &__title {
    font-size: 12px;
    color: $cyan-darken-3;
  }
}
